*{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}
body{
    background-color: rgb(41, 43, 77);
}
section{
    position: relative;
    display: inline-block;
    width: 22rem;
    height: 33rem;
    color: white;
    padding-top: 2rem;
    margin-top: 2.5rem;
    font-size: 20px;
    border-radius: 20px;
}
h2>b{
    font-size: 100px;
}
.blue{
    background: rgb(0,6,92);
background: linear-gradient(90deg, rgba(0,6,92,1) 0%, rgba(0,121,255,1) 100%);
    margin-left: 1.5rem;
}
.red{
    background-color: red;
    height: 34rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.green{
    background: rgb(125,244,26);
background: linear-gradient(90deg, rgba(125,244,26,1) 0%, rgba(29,181,2,1) 100%);
}
.white{
    color: black;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 3rem;
    width: 10rem;
    border: 0;
    border-radius: 20px 0 20px 0
    
}
.card:hover{
    transform: scale(1.1);
    transition: .3s linear
}
.white:hover{
    
    width: 100%;
    font-size: 30px;
    border-radius: 0 0 20px 20px;
    cursor: pointer;
    transition: .3s linear;
}
